{% layout "layout.liquid" %} 

{% block content %}

<h2 class="title">Popular Drinks</h2>

<div id="index-container">
    {% for drink in drinks %}
        <article id="index-image">
            <a href="/drinks/{{drink._id}}">
                <img src="{{drink.image}}"/>
                <h4>{{drink.name}}</h4>
            </a>
        </article>
    {% endfor %}
</div>

{% endblock %}