{% layout "layout.liquid" %}

{% block content%}

<header>
    <a href="/drinks"><button>All Drinks</button></a>
</header>

    <div id="index" class="main-page">
        
            <form id="new-form" action="/drinks" method="post">
                <div class="new-form-tables">
                    <table class="new-description">
                        <tr><td>Name</td> <td><input type="text" name="name"></td></tr>
                        <tr><td>Image URL</td> <td><input type="text" name="image"></td></tr>
                        <tr><td>Glass Type</td> <td><input type="text" name="glass"/></td></tr>
                        <tr><td>Measurement 1</td> <td><input type="text" name="measurements[measurement1]"></td></tr>
                        <tr><td>Measurement 2</td> <td><input type="text" name="measurements[measurement2]"></td></tr>
                        <tr><td>Measurement 3</td> <td><input type="text" name="measurements[measurement3]"></td></tr>
                        <tr><td>Measurement 4</td> <td><input type="text" name="measurements[measurement4]"></td></tr>
                        <tr><td>Measurement 5</td> <td><input type="text" name="measurements[measurement5]"></td></tr>
                        <tr><td>Measurement 6</td> <td><input type="text" name="measurements[measurement6]"></td></tr>
                        <tr><td>Measurement 7</td> <td><input type="text" name="measurements[measurement7]"></td></tr>
                        <tr><td>Measurement 8</td> <td><input type="text" name="measurements[measurement8]"></td></tr>
                        <tr><td>Measurement 9</td> <td><input type="text" name="measurements[measurement9]"></td></tr>
                        <tr><td>Measurement 10</td> <td><input type="text" name="measurements[measurement10]"></td></tr>
                        <tr><td>Ingredient 1</td> <td><input type="text" name="ingredients[ingredient1]"></td></tr>
                        <tr><td>Ingredient 2</td> <td><input type="text" name="ingredients[ingredient2]"></td></tr>
                        <tr><td>Ingredient 3</td> <td><input type="text" name="ingredients[ingredient3]"></td></tr>
                        <tr><td>Ingredient 4</td> <td><input type="text" name="ingredients[ingredient4]"></td></tr>
                        <tr><td>Ingredient 5</td> <td><input type="text" name="ingredients[ingredient5]"></td></tr>
                        <tr><td>Ingredient 6</td> <td><input type="text" name="ingredients[ingredient6]"></td></tr>
                        <tr><td>Ingredient 7</td> <td><input type="text" name="ingredients[ingredient7]"></td></tr>
                        <tr><td>Ingredient 8</td> <td><input type="text" name="ingredients[ingredient8]"></td></tr>
                        <tr><td>Ingredient 9</td> <td><input type="text" name="ingredients[ingredient9]"></td></tr>
                        <tr><td>Ingredient 10</td> <td><input type="text" name="ingredients[ingredient10]"></td></tr>

                        <tr><td>Instructions</td> <td><input type="text" name="instructions"/></td></tr>
                    </table>
                </div>
                <input type="submit" value="Create Drink">
            </form>

{% endblock %}